
/* offcanvas css for login and signup */

#offcanvasRight{
    width: 555px;
 
}
#offcanvas-body{
    width: 500px;
    margin: auto;
}

.login-div,.signup-div{
    height: 130px ;
  }
 
#login-text,#signup-text{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 800;
}
.blank{
    width: 190px;
    margin-top: 10px;
}
.create,.already{
    margin-top: 15px;
    position: relative;
}
#create,#already{
    font-weight: 800;
    cursor: pointer;
    color: #fc8019;
}
._2tuBw{
    transition: opacity .3s ease-out;
    opacity: 1!important;
    position: absolute;
    top: 58px;
    right: 0;
    z-index: -1;
    border-style: none;
}
.create:after,.already:after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 30px;
    border: 1px solid #000;
}
#login-form,#signup-form{
    display: block;

}

#phone-box,#name-box,#email-box{
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
}
#mobile,#name,#email{
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 20px;
    padding: 0 20px;
    padding-top: 22px;
    box-sizing: border-box;
    font-weight: 800;
}
#phone-box>label,#name-box>label,#email-box>label{
    font-size: 12px;
    font-weight: 800;
    
    color: #7e808c;
    transform: translateY(-70%);
    position: absolute;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    font-weight: 650;
}
.login-button,.signup-button{
    position: relative;
    clear: both;
    margin-top: 20px;
}
#log,#sign{
    width: 100%;
    font-size: 15px;
    font-weight: 850;
    line-height: 50px;
}
.a-ayg {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 850;
    height: 50px;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    text-transform: uppercase;
}
.additional{
    font-size: 17px;
    color: #686b78;
    margin-top: 6px;
    font-weight: 850;
}
.Terms,.Policy{
    color: #282c3f;
}

.signup-div,#signup-form{
    display: none;
}


/* profile dropdow */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-top: 15px;
    z-index: 4;
    border-top: 1px solid darkorange;
    font-size: 14px;
    border-radius: 10px;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}


  /* css for location canvas */
  #offcanvasWithBothOptions{
    width: 450px;
  }

  .location-input{
    position: relative;
    padding-bottom: 20px;
  }
  .location-input2,.location-input3{
    border: 1px solid #d4d5d9;
    display: block;
    position: relative;
  }
  .location-input3{
    content: "";
    display: block;
    border-top: 1px dashed #a9abb2;
    position: relative;
    /* margin-left: 56px; */
  }
  #location-input{
    height: 30px;
    padding-top: 0;
    font-size: 1.15rem;
    padding-right: 72px;
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    box-shadow: none;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 850;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .gps{
    display: table;
    table-layout: fixed;
    padding: 22px 24px;
  }
  ._13AY4 {
    display: table-cell;
    text-align: left;
    font-size: 18px;
    width: 32px;
    padding-top: 0;
    padding-left: 1px;
    color: #535665;
}
  .icon-location-crosshair:before {
    content: "";
}
._3eFzL {
    vertical-align: middle;
    display: table-cell;
}
.Ku2oK {
    font-size: 16px;
    font-weight: 850;
    color: #282c3f;
}
._1joFh {
    font-size: 13px;
    color: #93959f;
    line-height: 1.3;
    padding-top: 5px;
}
.Ku2oK:hover{
    color: #fc8019;
}

/* RECENT SEARCH */
.recent-search{
        padding: 0;
        border: 1px solid #d4d5d9;
        margin-bottom: 20px;
}
.recent-search-text{
    font-size: 12px;
    color: #7e808c;
    margin: 25px 0 0;
    margin-left: 56px;
}
#recent-search-container{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-left: 56px;

}
#area-container{
    /* display: table; */
    table-layout: fixed;
    padding: 22px 24px;
}

#search-city-name{
    font-size: 16px;
    font-weight: 850;
    color: #282c3f;
}
#search-city-state{
    font-size: 13px;
    color: #93959f;
    line-height: 1.3;
    padding-top: 5px;
}

#area-container::after {
    content: "";
    display: block;
    border-top: 1px dashed #a9abb2;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    /* border: 1px solid green; */
}
#area{
    vertical-align: middle;
    display: table-cell;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#search-city-name:hover{
    color: #fc8019;
}
