/* body or global styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* restaurants grid and restobar */
#main{
    width: 90%;
    margin: auto;
}

#restobar{
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 13px -15px #111;
    margin-bottom: 10px;
}
#restobar div{
    display: flex;
    align-items: center;
}
#restobar p{
    margin: 0px;
    padding: 25px 5px;
    white-space: nowrap;
}
#restobar > div:first-of-type{
    font-weight: 800;
    font-size: 28px;
    flex:1;
}
#restobar > div:nth-of-type(2){
    display: flex;
    gap:10px;
    align-items: center;
    overflow: scroll;
}
#restobar > div:nth-of-type(2)::-webkit-scrollbar {
    display: none;
}
.fa-sliders{
    color: #fc8019;
    border-radius: 50%;
    border: 1px solid #fc8019;
    padding: 5px;
    cursor: pointer;
}
#restobar > div:nth-of-type(2) > p{
    color:#3d4152;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}
#restobar > div:nth-of-type(2) > p:first-of-type{
    border-bottom: 2px solid black;
}
#restobar > div:nth-of-type(2) > p:last-of-type{
    font-weight: 600;
    color:#3d4152;
    margin-left: 20px;
    font-size: 16px;
}
#restobar > div:nth-of-type(2) > p:last-of-type:hover{
    color:#fc8019;
}

/* Restos */

#restos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}

.card{
    padding: 20px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card > img{
    width: 100%;
}

.cname{
    font-size: 17px;
    font-weight: 600;
    word-break: break-word;
    margin: 0;
    margin-top: 10px;
    color:#282c3f;
}

.ctype{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
}
.crdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.crdiv > p{
    font-size: 12px;
    color: #535665;
    margin: 0px 5px;
}

.crdiv > p:first-of-type{
    background-color: #48c479;
    color: white;
    padding: 2px 6px 2px 4px;
}

.coffer{
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #8a584b;
    padding-bottom: 10px;
}
.coffer > i{
    color: #8a584b;
    border-radius: 50%;
    margin-right: 10px;
}

.cqv{
    display: none;
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 100px;
    font-weight: 600;
    color: #5d8ed5;
    white-space:nowrap;
    font-size: 13px;
}

.card:hover{
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card:hover .cqv{
    display: block;
}

.card:hover .coffer{
    border-bottom: 1px solid lightgray;
}

/* carousel */
#offers{
    background-color: #171a29;
    padding: 30px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f8f8f8;
    width: 95%;
    background-color: #171a29;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    background-color: #171a29;
  }
  
  .carousel-item {
    flex: 0 0 calc((100% - 60px) / 4); /* change this line */
    height: 260px;
    margin-right: 20px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    background-color: #171a29;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    margin: 10px;
  }

  .carousel-item:hover{
    transform: scale(1.05);
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
  }
  
  .carousel-item img{
    width: 260px;
    height: 260px;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 200;
    color: #535665;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    height: 47px;
    width: 47px;
    line-height: 47px;
  }
  
  
  .carousel-button-left {
    left: 0;
  }
  
  .carousel-button-right {
    right: 0;
  }
  
/* footer */
footer{
    background-color: #000;
}

#footer{
    width: 80%;
    margin: auto;
}

#f1{
    padding-top: 76px;
    border-bottom: 1px solid #4d4d4d;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 5px;
}

#f1 > div{
    width: 25%;
}
#f1 img{
    margin-top: 30px;
}

#footer li{
    color:white;
    font-size: 17px;
    font-weight: 300;
    margin: 15px 0px;
}

#footer .lihead{
    margin-bottom: 30px;
    color: gray;
    font-size: 15px;
    font-weight: 600;
}

#f2{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4d4d4d;
}

#f3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0px;
}
#f3 > div:first-of-type > img {
    width: 142px;
}
#f3 > div:last-of-type > img{
    width: 24px;
    margin-left: 30px;
}
#f3 > div p{
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    letter-spacing: -.6px;
    color: white;
}