/* navbar css */
*{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
#nav-body>div{
    padding-top: 0;
   margin: -50px 0;
   padding-bottom: -200px;
}
#nav-body>.toast-container{
    border: none;
}
.container{
    box-shadow: rgba(100, 157, 165, 0.2) 0px 8px 24px;
}
#logo{
    width: 70px;
    /* height: 120%; */
    overflow: auto;
    cursor: pointer;
    padding-top: 10px;
}
#logo:hover{
    scale: 1.3 ;
}
#nav-location{
    display: flex;
    align-items: center;
    margin-top: 2px;
    height: 30px;
    cursor: pointer;
    padding-right: 10px;
}


#other{
    
        font-weight: 700;
        color: #3d4152;
        float: left;
        /* text-overflow: ellipsis; */
    
}
.other{
    display: block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom:2px solid black ;
    font-size: 16px;
    padding-top: 12px;
    color: #686b78;
}

.other:hover{
    color: #fc8019;
}

#town:hover{
    color: #a4a7b2 ;
}
#town{
    max-width: 200px;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 12px;
}
#nav-down{
    /* position: absolute; */
    right: -6px;
    color: #fc8019;
    margin-left: 5px;
    padding-top: 12px;

}
.items-center{
    cursor: pointer;
     font-size: 16px;
    font-weight: 500;
    gap: 20px;
}
.items-center>a:hover{
    color: #fc8019;

}
.signin-nav:hover{
    color: #fc8019;

}
#Profile:hover{
    color: #fc8019;

}
#Profile{
    text-overflow: ellipsis;
    text-overflow: ellipsis;
}



