.body-font{
    background-color: #37718e;
}
#profile-name,#profile-emial{
    color: white;
}
#edit{
    background-color: none;
    border-color: 2px solid white;
}
#edit:hover{
    color: #37718e;
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#login-form-edit{
    display: block;

}
#phone-box-edit,#email-box-edit{
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
}
.update-button{
    position: relative;
    clear: both;
    margin-top: 20px;
}
.a-ayg {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 900;
    height: 50px;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    text-transform: uppercase;
}
#update{
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    line-height: 50px;
}
#phone-box-edit>label,#email-box-edit>label{
    font-size: 12px;
    font-weight: 800;
    color: #7e808c;
    transform: translateY(-70%);
    position: absolute;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    font-weight: 700;
}
#mobile-edit,#email-edit{
    outline: none;
    height: 70px;
    width: 90%;
    font-size: 20px;
    padding: 0 20px;
    padding-top: 22px;
    box-sizing: border-box;
    font-weight: 800;
}
#edit-profile{
    font-weight: 800;
    margin-bottom: 20px;
}
/* .body-font{
    position: fixed;
    width: 100%;
} */


* {
    font-family: "montserrat"
    /* margin: 0; */
    /* padding: 0; */
    /* color: #282c3f; */
}


.parentContainer {
    flex-grow: 1;
}

._1w2w1 {
    padding: 0 20px;
    background: #37718e;
    min-height: 100vh;
    position: relative;
}

._2BkKe {
    padding-top: 33px;
    /* max-width: 1200px; */
    /* min-width: 1200px; */
    margin: 0 auto;
}

._27NPr {
    color: #fff;
    margin-bottom: 37px;
    margin-top: 37px;
    position: relative;
}

.editProfBtn {
    border: 1px solid hsla(0, 0%, 100%, .6);
    padding: 12px 20px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    /* float: right; */
    position: absolute;
    bottom: 7px;
    right: 0;
    background-color: #37718e;
    color: #fff;
}

.editProfBtn:hover {
    background-color: #fff;
    color: #37718e;
}

.userName {
    font-size: 32px;
    font-weight: 900;
    text-transform: capitalize;
}

.userMob {
    margin-top: 2px;
    font-size: 16px;
}

.userEmail {
    margin-left: 15px;
}

.childContainer {
    background: #fff;
    contain: layout;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 15%);
    /* width: 1300px; */
    margin: 0 auto;
    position: relative;
    /* border: 1px solid orange; */
    width: 90vw;

}

.v6luz {
    background: #fff;
    contain: layout;

    width: calc(((100vw - 1300px) / 2) + 2px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 1px;
    opacity: 0;
    z-index: 1;
    will-change: opacity;
    transition: opacity .3s ease;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.childDiv1 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    /* max-width: 1200px; */
    /* min-width: 1200px; */
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    contain: layout;
}

.childSections {
    display: flex;
}

.leftChildSec {
    min-width: 260px;
    background: #edf1f7;
}

.leftChildSec ul {
    padding: 20px 0;
    position: sticky;
    top: 80px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

._default {
    background: #fff;
}

.eachOption {
    padding: 25px 20px;
    margin-left: 20px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.rightChildSec {
    flex: 1;
    background: #fff;
    padding: 37px 0 0 50px;
    position: relative;
    min-height: 80vh;
}

._1stFr {
    background: #fff;
    padding: 37px 0 0 50px;
    position: relative;
    min-height: 80vh;
}

.imageSec {
    width: 362px;
    text-align: center;
}

.imageSec,
._imgfq {
    margin: 0 auto;
}

._img_oN {
    opacity: 0;
    transition: opacity .3s ease-out;
}

.imgsub {
    opacity: 1 !important;
}

img {
    border-style: none;
}

.showOrder {
    font-size: 20px;
    color: #535665;
    font-weight: 900;
    margin-top: 32px;
}

.orderDetail {
    font-size: 14px;
    color: #7e808c;
    margin-top: 8px;
}

.icons {
    height: 25px;
    background: transparent;
    background-color: transparent;
    border-radius: 100px 100px;

}

.span-icons {
    margin-top: -5px;
    margin-right: 10px;
}
#swiggy_one{
    display: flex;
    gap: 35px;
    margin: 0 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.swiggy_one_two>img{
    width: 70%;
    border-radius: 50px;
}

.swiggy_one_one{
    display: grid;
    gap: 25px;
    width: 80%;
}
.swiggy_one_text{
    font-size: 25px;
    font-weight: 800;
}
.app_download{
    display: flex;
    gap: 10px;
    display: none;
}
.payment-method{
    font-size: 25px;
    font-weight: 800;
    display: none;
}
.setting-text{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
}
.setting-text-one{
    font-size: 12px;
    border: 1px solid gray;
    padding: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.setting-text-two{
    font-size: 12px;
    border: 1px solid gray;
    padding: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
#setting-text-two{
    font-size: 15px;
    font-weight: 700;
}
.profile-address{
    display: grid;
    justify-content:  center;
    align-items:  center;
    gap: 10px;
    text-align: center;
    margin: auto;
    display: none;
}
.profile-address>h1{
    font-size: 20px;
    font-weight: 700;
}
.profile-address>p{
    font-size: 13px;
}
.profile-setting{
    display: none;
}

.favRes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 2px solid green; */
    width: 90%;
    margin: auto;
    gap:15px;
    display: none;
}
.favRes-container>h1{
    font-size: 20px;
    font-weight: 750px;
}



#restos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}

.card{
    padding: 20px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card > img{
    width: 100%;
}

.cname{
    font-size: 17px;
    font-weight: 600;
    word-break: break-word;
    margin: 0;
    margin-top: 10px;
    color:#282c3f;
}

.ctype{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
}
.crdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.crdiv > p{
    font-size: 12px;
    color: #535665;
    margin: 0px 5px;
}

.crdiv > p:first-of-type{
    background-color: #48c479;
    color: white;
    padding: 2px 6px 2px 4px;
}

.coffer{
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #8a584b;
    padding-bottom: 10px;
}
.coffer > i{
    color: #8a584b;
    border-radius: 50%;
    margin-right: 10px;
}

.cqv{
    display: none;
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 100px;
    font-weight: 600;
    color: #5d8ed5;
    white-space:nowrap;
    font-size: 13px;
}

.card:hover{
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card:hover .cqv{
    display: block;
}

.card:hover .coffer{
    border-bottom: 1px solid lightgray;
}





@media only screen and (max-width: 1000px) {
    #swiggy_one{
        display: grid;
        gap: 22px;
        display: none;
        
    }
    .app_download{
        display: grid;
        gap: 10px;
    }
    .favRes-container{
        grid-template-columns: repeat(2,1fr);
    }
  }
  @media only screen and (max-width: 400px) {
  
    .favRes-container{
        grid-template-columns: repeat(2,1fr);
    }
  }
